/* dang nhap */
.dang-nhap{
float: right;
margin: 0;
padding: 20px 50px;

}
.banner1{
width: 800px;
height: 1150px;
flex-shrink: 0;
}
.banner2{
width: 794px;
height: 620px;
flex-shrink: 0;
}
.banner{
    width: 100%;
}
.dang-nhap>h1{
text-align: center;
padding: 20px 0px;
color: #28332D;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.input-dn>input{
margin: 20px 0px;    
width: 539px;
height: 53px;
flex-shrink: 0; 
padding-left: 20px;
}
.input-dn>label{
    color: #28332D;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.oke{
    text-align: center;
}
.oke1{
border: 1px solid #1BBC65;
color: white;
width: 280px;
height: 46px;
flex-shrink: 0;
border-radius: 5px;
background: var(--white, #1BBC65);
}
.oke2{
    text-align: center;
}
.oke3{
width: 565px;
height: 46px;
border: 1px solid #1BBC65;
color: #FFF;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 500;
border-radius: 5px;
background: var(--white, #1BBC65);
}
.dang-nhap>h2{
    padding-top: 20px;
    text-align: center;
    color: #28332D;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.dang-nhap>.icon{
    display: flex;
     padding-left: 160px;
}
.dang-nhap>.icon>img{
    margin: 10px 40px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
.dang-nhap>p{
    text-align: center;
}
.dang-nhap>p>a{

color: #1BBC65;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
text-decoration-line: underline;
}
.container
{
    position: absolute;
    top: 140px;
    left: 820px;
}
.container form
{
    border: 2px solid black;
    border-radius: 5px;
    width: 535px;
    height: 1110px;
}
.container2
{
    position: absolute;
    top: 140px;
    left: 820px;
}
.container2 form
{
    border: 2px solid black;
    border-radius: 5px;
    width: 535px;
    height: 600px;
}
.dnadmins{
margin-left: 183px;
text-align: center;
color: #1BBC65;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
text-decoration-line:underline;
}